* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-weight: 100;
    font-family: "sen", sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/429/474/original/electronic-circuit-design-on-a-dark-blue-background-vector.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-between;
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/950/496/non_2x/abstract-background-with-technology-electronic-motherboard-illustration-vector.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    border-bottom: 3px solid rgb(245, 0, 0);
    z-index: 2;
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    padding: 10px;
    width: 100px
}

.titulo {
    margin-left: 30px;
    padding: 20px;
}

.titulo h1 {
    padding-bottom: 15px;
    color: aliceblue;
}


/* elemetos del footer */
footer {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: aliceblue;
    padding-top: 35rem;
    padding-bottom: 70px;
    font-size: 23px;
}
/* Estilos de contacto */
.contacto ul li {
    padding: 15px;
}

.contacto ul li a {
    color: aliceblue;
}

/* Estilo base del pop-up (oculto) */


#openPopup {
    /* width: 60px;
    height: 60px;
    margin: 20px;
    font-size: large; */
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
}

/* Contenido del pop-up */
.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.popup-content h2 {
  margin-top: 0;
  color: rgb(216, 36, 36);
  text-align: center;
}

.popup-content p {
  text-align: center;
  font-size: larger;
  color: black;
}

/* Botón de cierre */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
    .titulo h1 {
        font-size: 30px;
        text-align: center;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 150px;
        margin-bottom: 50px;
    }
}